%body
  = render "euruko_header"
  = render "euruko_menu"
  = render "live_stream"
  = render "about"
  = render "speakers"
  = render "tickets"
  = render "schedule"
  = render "party"
  = render "venue"
  = render "guide"
  = render "sponsors"
  = render "stay_in_touch"
  